/* src/styles/globals.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
}
main {
  min-height: 76.5vh;
}
header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

footer {
  background-color: #222;
  color: white;
  padding: 1rem;
  text-align: center;
}
